<!DOCTYPE html>
<html>
  <head>
    <title>Help</title>
    <link rel="stylesheet" href="./css/app.css">

  </head>
  <body>
    <div class="main_content">
     {{>header}}
    <p>{{Helptext}}</p>
    </div>
    
    {{>footer}}
  </body>
</html>